
mixin contactInfoItem(item)
   .contact-info-item.padd-15
      .icon
         i(class=item.cls)
      h4= item.hd
      p= item.para

//- For form input fields
mixin contactFormInfo(inputFields)
   if(inputFields.col_12)
      .form-item.col-12.padd-15
         .form-group
            input(type=inputFields.type class="form-control" placeholder=inputFields.placeholder)
   else
      .form-item.col-6.padd-15
         .form-group
            input(type=inputFields.type class="form-control" placeholder=inputFields.placeholder)

section#contact.contact.section
   .container
      .row
         .section-title.padd-15
            h2 Contact Me
      h3.contact-title.padd-15 Do you have any questions?
      h4.contact-sub-title.padd-15 I'm at your service
      .row
         - let item = {cls: "fa fa-phone", hd: 'Call us on', para: '+9230451154480'}
         + contactInfoItem(item)
         -item = {cls: 'fa fa-map-marker-alt', hd: 'Office', para: 'Karachi'}
         + contactInfoItem(item)
         -item = {cls: 'fa fa-envelope', hd: 'Email', para: 'ih.naqi@outlook.com'}
         + contactInfoItem(item)
         -item = {cls: 'fa fa-globe-europe', hd: 'Website', para: 'www.google.com'}
         + contactInfoItem(item)
      h3.contact-title.padd-15 Write me an email
      h4.contact-sub-title.padd-15 I'm very responsive
      .row
         .contact-form.padd-15
            .row
               - let inputFields = {type: 'text', placeholder:'Name'}
               + contactFormInfo(inputFields)
               - inputFields = {type: 'email', placeholder: 'someone@example.com'}
               + contactFormInfo(inputFields)
            .row
               - inputFields = {type: 'text', col_12: true, placeholder: 'Subject'}
               + contactFormInfo(inputFields)
            .row
               .form-item.col-12.padd-15
                  .form-group
                     textarea(class="form-control" name="" id="" placeholder="Message")
               .contact-form.padd-15
                  .row
                     .form-item.col-12.padd-15
                        button(type="sumbit" class="btn") Send Message